@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.UserNavbar{
    margin-top: -16%;
    display: flex;
    justify-content: space-between;
    
}
.jumbotronBackGround{
    background-color: #D8ECF9;
    min-height:200px;
    padding: 5%;
}
.shopIcon{
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.inlineClass{
    display: grid;
}

.logoutText{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 15px;
}

.bookTicketHeading{
    margin-left: 35%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.flip-card {
    display: inline-grid;
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
    border-radius: 25px;
    

}

/* This container is needed to position the front and back side */
.flip-card-inner {
    display: inline-grid;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 25px;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: #D8ECF9;  /* fallback for old browsers */
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* Style the back side */
.flip-card-back {
    background: #FFEBE7;  /* fallback for old browsers */
    color: black;
    transform: rotateY(180deg);
    border-radius: 25px;
}

.imageCard{
    width: 250px;
    height: 125px;
    margin-top: 10%;
    border-radius: 15px;
}

.shopHeadingText{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.shopAddressText{
    margin-top: 10px;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.itemInShopText{
    font-family: monospace;
    font-size: 18px;
    margin-top: 15%;
}

.itemText{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.itemList{
    padding: 3%;
    align-items: flex-start;
}

.toggleButton{
    border: #D8ECF9;
    border-style: solid;
    background: #D8ECF9;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black
}


.itemListCard{
    background: #FFEBE7;
}

.searchBarShops{
    margin-left: 40%;
    margin-top: 2%;
    background: #ffffff;
    border-radius: 20px;
    height: 35px;
    width: 300px;
    align-items: center;
    text-align: start;
    text-align: center;
}

.buttonsModal{
    display: flex;
    justify-content: space-between;
    padding-left: 30%;
    padding-right: 30%;
}

.displaySelectedSlot{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin-left: 35%;
    margin-bottom: 8%;
}

.displaySelectedShop{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin-left: 15%;
}