@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.hero{
    width: 100%;
    z-index: -1;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 4%;
    align-self: center;
}

.navbar{
    margin-top: -62%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signText{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 15px;
}
.signUpText{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.shopIcon{
    position: relative;
    margin-left: 0%;
}
.searchbar{
    margin-left: 8%;
    margin-right: 4%;
    background: #ffffff;
    border-radius: 20px;
    height: 35px;
    width: 300px;
    align-items: center;
    text-align: start;
    text-align: center;
}

.mainblock{
    position: relative;
    margin-top: 60%;
}

.mainSectionHeading{
    color: #6A6666;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 30%;
    letter-spacing: 5px;
}

.wrongUserCred{
    color: red;
}

.Rel1{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 250px;
    border-radius: 20px;
}

.Rel2{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 600px;
    border-radius: 20px;
}

.Rel3{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 950px;
    border-radius: 20px;

}

.loginRedirect{
    position: absolute;
    width: 450px;
    height: 150px;
    left: 35%;
    top: 450px;
    border-radius: 35px;
}

.startText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 90px;
}

.leftImage{
    position: absolute;
    width: 500px;
    height: 410px;
    left: 150px;
    top: 700px;
    border-radius: 30px;
}

.rightImage{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 700px;
    top: 700px;
    border-radius: 30px;
}

.middleImage{
    position: absolute;
    width: 750px;
    height: 589px;
    left: 25%;
    top: 1150px;
    border-radius: 10px;
}

.SecondMiddleImage{
    position: absolute;
    width: 100%;
    height: 546px;
    top: 1850px;
}

.SecondLeftImage{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 150px;
    top: 2650px;
}

.SecondRightImage{
    position: absolute;
    width: 750px;
    height: 494px;
    left: 620px;
    top: 2500px;
    border-radius: 20px;
}

.FooterImage{
    position: absolute;
    width: 100%;
    height: 130px;
    top: 3100px;
}

.FooterText{
    position: absolute;
    width: 601px;
    height: 40px;
    left: 30%;
    top: 3135px;
}
